form{
	padding-top: 15px;
	padding-left : 25px;
	padding-bottom: 15px;

}

img{
	padding-top: 10px;
	padding-bottom: 15px;
}


#geolocalisation{
	margin-top: 15px;
	margin-bottom: 15px;
}

#ajout-borne{
	margin : 15px 10px;
}

#navigation{
	box-shadow: 6px 6px 8px #aaa;
}

#graph{
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;

}

#results{
	background-color: white;
	height: 90vh;
	position : relative;
	z-index: 3;
	margin-top: 7px;
	display: none;
	border: 3px solid #2BB906;
}


#choixgraph{
	margin-top: 15px ;
	margin-bottom: 15px ;
	margin-left: auto ;


}

#checkboxdiv{
	margin-top: 50px;
	margin-left: 10px;
	float: left;

}

#Les_graphs{
	margin: 50px auto;
	padding-left: 80px;


}

#check{
	margin-top: 6px;
	margin-left: 1px;
}


#checkbox{
	margin-top: 11px;

}


/* Testing map width and height, quentin will improve it */

.marker {
	background-image: url('logo/marqueur.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	}
	
.draggable {
	background-image: url('logo/marqueur.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

#userLocation {
	background-image: url('logo/userlocation.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}


.mapboxgl-popup {
	max-width: 1000px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

html { overflow-y: hidden;
}


#supprimer{
			margin :20px 0 20px 0 ;
		}

/* Testing map width and height, quentin will improve it */
#map {top:7px; left:-10px; width:107%; min-height: 91vh}

.slide-enter-active{
	transition: all .5s ease;

}

.slide-enter-active{
	transition: all .5s cubic-bezier(1.0,0.5,0.8,1.0);

}

.slide-enter, .slide-leave-to{
	transform: opacity 0;
}

.show {
    z-index:1000;
    position: absolute;
    background-color : white;
    border: 1px solid white;
    padding: 2px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
}

.hide {
    display: none;
}

/* .show { a faire } */


.context-menu {
  position: absolute;
  z-index: 10;
}

#graphique{
	height: 10%;
}
.section_graph{
	height: 91vh;
}

#checkboxdiv{
	width: 150px;
	border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      rgb(25, 199, 83), 
      rgba(0, 0, 0, 0)
    ) 10 ;
}

#amidonnier{
	margin-left: 3px;
	margin-top: 6px;
}

#ajout:hover{
	background-color: #f2f2f2;
}

#clic:hover{
	background-color: #f2f2f2;
}