form{
	padding-top: 15px;
	padding-left : 25px;
	padding-bottom: 15px;
	
}

img{
	padding-top: 10px;
	padding-bottom: 15px;
}


#geolocalisation{
	margin-top: 15px;
	margin-bottom: 15px;
}

#ajout-borne{
	margin : 15px 10px;
}

#navigation{
	box-shadow: 6px 6px 8px #aaa;
}

#graph{
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	
}

.sidebar {
	box-shadow: 2px 4px 5px #aaa;
	margin-top: 5px;
	height: 90vh; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: relative; /* Stay in place */
	z-index:1000; /* Stay on top */
	background-color: rgb(255, 255, 255); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* #results{
	background-color: white;
	height: 90vh;
	position : relative;
	z-index: 3;
	margin-top: 7px;
	display: none;
	border: 3px solid #2BB906;
	overflow:scroll;
	overflow-x: hidden
} */


#choixgraph{
	margin-top: 15px ;
	margin-bottom: 15px ;
	margin-left: auto ;
	
	
}

#choixdata{
	margin-top: 15px ;
	margin-bottom: 15px ;
	margin-left: auto ;
	
	
}


#checkboxdiv{
	margin-left: 10px;
	float: left;
	
}

#Les_graphs{
	margin: 50px auto;
	padding-left: 80px;
}


#check{
	margin-top: 6px;
	margin-left: 1px;
}


#checkbox{
	margin-top: 13px;
	margin-left : 20px;
	
}


/* Testing map width and height, quentin will improve it */

.marker {
	background-image: url('logo/wifi-green.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.draggable {
	background-image: url('logo/wifi-red.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.newmarker {
	background-image: url('logo/wifi-blue.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

#location {
	background-image: url('logo/target.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}


.mapboxgl-popup {
	max-width: 1000px;
}

html { overflow-y: hidden;
}


#supprimer{
	margin :20px 0 20px 0 ;
}

/* Testing map width and height, quentin will improve it */
#map {top:7px; left:-2px; width:100%; min-height: 91vh; position: absolute; z-index: 0;}

.slide-enter-active{
	transition: all .5s ease;
	
}

.slide-enter-active{
	transition: all .5s cubic-bezier(1.0,0.5,0.8,1.0);
	
}

.slide-enter, .slide-leave-to{
	transform: opacity 0;
}

.show {
	z-index:1000;
	position: absolute;
	background-color : white;
	border: 1px solid white;
	padding: 2px;
	display: block;
	margin: 0;
	list-style-type: none;
	list-style: none;
}

.hide {
	display: none;
}


#checktext{
	margin-bottom: 3px;
	font-size:14px; 
	font-style:italic; 
	font-family:'Hind',sans-serif;
}

.context-menu {
	position: absolute;
	z-index: 10;
}

#graphique{
	height: 10%;
}
.section_graph{
	height: 91vh;
}

#checkboxdiv{
	margin-right: 5px;
	height:80vh;
	overflow:scroll;
	overflow-x: hidden;
	width: 800px;
	border-width: 3px;
	border-style: solid;
	border-image: 
	linear-gradient(
	rgb(25, 199, 83), 
	rgba(0, 0, 0, 0)
	) 100 ;
}


#ajout:hover{
	background-color: #f2f2f2;
}

#clic:hover{
	background-color: #f2f2f2;
	
}


.mapboxgl-popup-close-button {
	display: none;
}

.mapboxgl-popup-content {
	font: 15px 'Ubuntu Condensed', sans-serif;
	text-align: center;
}




#popupborne{
	width: 550px;
	padding-right: 25px;
	margin-bottom: 5px;
	border: thick double black;
	
}

.popuptext{
	margin-top:2px;
	height: 55px;
	text-align: center;
	margin-bottom: 5px;
	margin-left: 20px;
	font: 17px 'Ubuntu Condensed', sans-serif;
	
	
}


.nopadding{
	margin-left: 5px;	
	padding: 0 !important;
}
#butform{
	margin-top: 10px;
	margin-right: 10px;
	
}

#results #mine:hover {
	
	background-color:#7FBAFD;
	
}

#results #not_mine:hover{
	
	background-color: rgb(120, 228, 127);
}


#results #not_mine, #mine{
	
	height: 67px;
	line-height: 3.5em;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	border-bottom: 1px solid rgba(0,0,0,.125);
	border-top : none;
	
}

#Les_graphs{
	margin-top: 80px;

}

#coche{
	margin-top: 15px;
}


#lab{
	margin-top: 5px;
	margin-bottom: -5px;
}

.popups{
	padding: 0;
}


.zonemargin{
	margin-top: 44px;
	margin-bottom: 0 !important;
	
}

.gotoright{
	margin: 0 !important;
	width: 545px;
}

.inforow{
	height: 80px;
}

.infocol{
	margin-bottom: 10px;
	text-align: left;
}

.textmodif{
	text-align: left;
	}

.infocoltop{
	max-width:28.099999995% !important;
	text-align: center;
}

.infocol2{
	margin-left: 22px;
	text-align: left;
}


.infocol3{
	text-align: left;
}


.butrow{
	position: relative;
	top: 50px;
}


#label_annee{
	margin-bottom: 23px;
}

.textmodif{
	font: 18px 'Ubuntu Condensed', sans-serif !important;

}

.textmodiflite{
	font: 16px 'Dosis', sans-serif !important;

}


@media all and  (orientation: portrait){

	#carte{
		min-height: 96vh !important;

	}

	#navigation{
		min-height: 172px;
	}

	.nav{
		margin-top: 50px;
	}





}
